* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #03131b;
    --secondary-color: #0f394b;
    --tertiary-color: #81bcd9;
    --text-color: #f6f6f6;
}



body {
    background-image: url(../images/hero.jpg);
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER STYLE*/

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-position: 80%;
    width: 100%;
    z-index: 9999;
}

header h1 a {
    font-weight: bold;
    font-size: 36px;
    color: var(--text-color);
    text-decoration: none;
    opacity: 0.8;
    padding-left: 35px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0;

}

header a {
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.8;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-right: 50px;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background-color: var(--secondary-color);
    border-radius: 15px;
    font-size: 1.70vw;
}


/* HERO STYLE*/

.hero {
 background-color: rgb(15,57,75, 0.3);
 background-size: cover;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 align-items: flex-start;
 background-attachment: fixed;
 background-position: 80%;
 width: auto;
 padding: 20px;
}

.hero-picture img {
 size: 40%;
 padding: 50px;
 margin-right: auto;   
 max-width: 100%;
 height: auto;
}

.hero-statement {
    color: var(--text-color);
    width: 40%;
    text-align: left;
    margin: 4%;
    font-size: 20px;
    background-color: rgb(15,57,75, 0.7);
    padding: 30px 30px 20px 20px;
    border-radius: 20px;
}

.hero-statement h2 {
    margin-bottom: 5%;
    font-size: 3.3vw;
}

.ocupation { 
    line-height: 1.5;
    padding-bottom: 4%;
    font-size: 2.0vw;
    font-weight: bold;
}

.quote {
    font: italic;
    font-size: x-large;
    text-decoration: underline;
}
    

section {
    padding: 60px;
}

/*About me*/

.box {
    width: 80;
    color: var(--text-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(15,57,75, 0.7)
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.section-title {
    width: 25%;
    font-size: 40px;
    text-align: center;
    border-right: 8px solid;
    border-color: var(--text-color);
    flex: 1;
    width: 100%;
    opacity: 0.8;
}

.section-title h2 {
    padding-right: 20px;
}

.section-text {
    width: 75%;
    font-size: 25px;
    line-height: 1.5; 
    margin-left: 40px;
}
.section-text p {
    margin-bottom: 10px;
}

/*Style my work section*/

.container {
    width: 75%;
    margin-left: 40px;
    }
    
.large-img {
    width: 100%;
    align-content: center;
}

.large-img img {
    flex: 1;
    width: 100%;
    max-width: 1245px;
    height: auto;
    border: 7px solid;
    border-color: var(--primary-color);
    opacity: 0.8;
    margin-bottom: 10px;
}

.small-img {
    width: 50%;
   }

.small-img img {
    width: 100%;
    max-width: 575px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border: 5px solid;
    border-color: var(--primary-color);
    opacity: 0.8;
    flex: 1;
}

.row img:hover {
    opacity: 1.0;
}

#see-my-work h2 {
text-align: center;
}








